body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 20px;
    background-image: url(back.png);
}



h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#subject-container {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    width: 90%;
    max-width: 800px;
    margin: 25px ;
    text-align: center;
}

footer {
    text-align: left;
    color:rgb(67, 119, 119);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
}

h3 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    color:rgb(19, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
}

h4 {
    text-align: left;
    color:rgb(19, 29, 29);
    font-style: italic;
    font-size: 7px;
}

h5 {
    text-align: left;
    color:rgb(67, 119, 119);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background: linear-gradient(45deg, red, blue);
    color: white;
}

#timer {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, red, blue);
    padding: 10px;
    max-width: 800px;
    position: fixed;
    top: 1px;
    border-radius: 5px;
    left: 50%; /* To center horizontally */
    transform: translateX(-50%);
    background-color: #ffffff; /* Adjust as per your design */
    padding: 5px;
    width: 300px;
    border-bottom: 1px solid #cccccc; /* Optional: add a bottom border */
    z-index: 1000; /* Ensure it's above other content */

    
}

.explanation {
    font-weight: 550;
}

.score {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

#quiz-container {
    margin: 20px 0;
}

.quiz-question {
    margin: 20px ;
    box-sizing: 20px;
}

.quiz-answer {
    color: black;
    background: white;
    min-width: 370px;-width: 300px; /* Adjust as needed */
    display:flex;
    text-align: left;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
}

.quiz-answer.selected {
    background: lightblue;
}

.quiz-answer.correct {
    background-color: lightgreen;
}



.quiz-answer.incorrect {
    background-color: lightcoral;
}

#results-container {
    margin: 20px 0;
}

#results-container .quiz-answer {
    font-style: italic;
}


#start-over-button {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    width: 90%;
    max-width: 250px;
    margin: 25px ;
    text-align: center;
}

